@model Xgteamc1XgTeamModel.User

@{
    ViewBag.Title = "FriendRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-content no-padding">
    <div class="col-lg-12 col-md-12">
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Friend Request</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="buddypress" class="">

            <div id="item-body">
                @if (Model.FriendRequests_FutureFriendID == null)
                {
                    <div class="activity g-content" role="main">
                        <div id="message" class="info">
                            <p>You have no a friend request.</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 col-md-12 ">
                        <div class="table-responsive-md">
                            <table class="table table-condensed table-dark">
                                <caption>List of friend request</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">User Profile Image</th>
                                        <th scope="col">UserName</th>
                                        <th scope="col">Sending Date</th>
                                        <th scope="col">Accept</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var request in Model.FriendRequests_FutureFriendID.Where(x => x.IsPending == true))
                                    {

                                        <tr>
                                            <th>
                                                <a href="/Users/Profile/@request.User_UserID.UserInfoe_Id.Id" title="View @request.User_UserID.UserName 's profile">
                                                    <img alt="img" class="img-circle" width="30" height="30" src="~/FileUpload/UserProfile/@request.User_UserID.UserInfoe_Id.PhotoPath">
                                                </a>
                                            </th>
                                            <td>
                                                <a href="/Users/Profile/@request.User_UserID.UserInfoe_Id.Id" title="View @request.User_UserID.UserName 's profile">
                                                    @request.User_UserID.UserName
                                                </a>
                                            </td>
                                            <td>@request.SendingDate.Value.ToShortDateString().ToString()</td>
                                            <td>  <a href="/Users/AcceptRequest/@request.FriendRequestID">  <span class="fa fa-check"></span>Accept</a> </td>
                                            <td>  <a href="/Users/RemoveRequest/@request.FriendRequestID">  <span class="fa fa-close"></span>Remove</a> </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

