.faceMocion { 
display: none;padding-bottom:4px;padding-top:4px;padding-right: 4px;
padding-left: 0px;position:absolute;width: auto;height: auto;line-height: 25px;
transition: .25sease-in-out;color:black;
}

.faceMocion div{margin-left: 8px;float: left;width: 19px; height: 19px; cursor:pointer; }
.faceMocionComment {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 0px;
    position: absolute;
    width: auto;
    height: auto;
    line-height: 25px;
    transition: .25sease-in-out;
    color: black;
}

    .faceMocionComment div {
        margin-left: 8px;
        float: left;
        width: 19px;
        height: 19px;
        cursor: pointer;
    }

.selectorFace{margin-left: 8px;float: left;width: 19px; height: 19px; cursor: pointer;}



.molesto{ background: url(/Content/blackfyre/images/sqhTN9lgaY1.png) 0 0; }
.asusta{background: url(/Content/blackfyre/images/sqhTN9lgaY1.png) 0 -19px; }
.divierte{background: url(/Content/blackfyre/images/sqhTN9lgaY1.png) 0 -37px; }                                                                           
.gusta{background: url(/Content/blackfyre/images/sqhTN9lgaY1.png) 0 -56px; }                                                                             
.amo{background: url(/Content/blackfyre/images/sqhTN9lgaY1.png) 0 -75px; }
.triste{background: url(/Content/blackfyre/images/sqhTN9lgaY1.png) 0 -394px; }
.asombro{background: url(/Content/blackfyre/images/sqhTN9lgaY1.png)  0 -113px; }
.alegre {
    background: url(/Content/blackfyre/images/sqhTN9lgaY1.png) 0 -281px;
}
.MensajeTexto{display:none;position:absolute;border:1px solid #333;background-color:#161616;
border-radius:5px;padding:3px;color:#fff;font-family: sans-serif;font-size: 12px;}
.IconoPequenio{width: 24px;height: 24px; background-size: 24px; background-repeat: no-repeat;}
