################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SeizeTheDay/v15
*.dll
*.pdb
*.pssym
*.cache
applicationhost.config
