################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SeizeTheDay/v15
*.dll
*.pdb
*.pssym
*.cache
applicationhost.config
/.vs/SeizeTheDay/v16/Server/sqlite3
/.vs/slnx.sqlite
/.vs/SeizeTheDay/v16/.suo
/.vs/VSWorkspaceState.json
