<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="IdentityConnection" connectionString="User Id=user;Password=password;Host=hostname;Database=dbname;"
    providerName="Devart.Data.MySql" />
  <add name="Xgteamc1XgTeamEntities" connectionString="metadata=res://SeizeTheDay.Entities/MySQL.DataModel1.csdl|res://SeizeTheDay.Entities/MySQL.DataModel1.ssdl|res://SeizeTheDay.Entities/MySQL.DataModel1.msl;provider=Devart.Data.MySql;provider connection string=&quot;User Id=xgteamc1_xguser;Password=password;Host=185.210.95.45;Database=xgteamc1_xg_team;Persist Security Info=True&quot;"
    providerName="System.Data.EntityClient" />
</connectionStrings>