
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" ng-controller="SettingCtrl">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Settings
        </h1>
        <div class="text-right">
            <a href="/Admin/Dashboard/Index"><i class="fa fa-dashboard"></i> Home</a> >
            <a href="/Admin/Setting/Index"> Setting List</a>
            <span>{{UserState}}</span>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div ng-show="flgMessage" id="message" class="alert alert-dismissible">
                    <button type="button" class="close" ng-click="hideMessage()" aria-hidden="true">&times;</button>
                    <h4><i id="icon" class="icon fa "></i> Alert!</h4>
                    {{message}}
                </div>

                <!-- general form elements -->
                <div class="box box-primary" ng-show="flgTable">
                    <div class="box-header with-border">
                        <h3 class="box-title">Setting List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-header">
                        <button type="button" ng-click="addSetting()" class="btn btn-primary"><i class="fa fa-plus"></i> Add a Setting</button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="">
                            <table id="settingTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td>Id</td>
                                        <td>Name</td>
                                        <td>Value</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in lstSettings">
                                        <td>{{item.settingId}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.value}}</td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-circle" ng-click="editSetting(item)" title="" data-toggle="tooltip" data-placement="top" data-original-title="Edit Setting">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-danger btn-circle" ng-click="deleteSetting(item)" title="" data-toggle="tooltip" data-placement="top" data-original-title="Delete Setting">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <!-- /.box -->

                </div>

                <!-- Custom Tabs -->
                <div class="nav-tabs-custom" ng-show="!flgTable">
                    <ul class="nav nav-tabs">
                        <li id="liTab_1" class="active"><a href="#tab_1" data-toggle="tab">Setting Create/Update</a></li>

                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <form role="form" id="form1" name="form1" novalidate ng-submit="formSubmit()">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Name">Name</label>
                                                <input type="text" ng-model="model.name" required class="form-control" id="Name" placeholder="Name">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Name">Value</label>
                                                <input type="text" ng-model="model.value" required class="form-control" id="Value" placeholder="Value">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="button" ng-disabled="!form1.$valid" ng-click="createEditSetting(model)" class="btn btn-primary">Create/Edit Setting</button>
                                    <button type="button" ng-click="reset()" class="btn btn-default">Cancel</button>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
            </div>

        </div>

    </section>
    <!-- /.content -->
</div>


