
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container no-padding">
    <div class="page_header">
        <div class="col-lg-6">
            Error
        </div>
        <div class="col-lg-6 breadcrumbs">
            <strong><a href="/Home/Index">Home</a> / Error</strong>
        </div>
    </div>
</div>


<div class="container normal-page">
    <div class="row">
        <div class="span12">
            <div class="four0four">
                <p class="huge"> OOPS! 404 <i class="icon-file"></i></p>
                Page not found, sorry :(
            </div>
        </div>
    </div>
    <!-- /container -->
</div>

