
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" ng-controller="ForumCtrl">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Forum Lists
        </h1>
        <div class="text-right">
            <a href="/Admin/Dashboard/Index"><i class="fa fa-dashboard"></i> Home</a> >
            <a href="/Admin/Forum/Index"> Forum List</a>
            <span>{{UserState}}</span>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div ng-show="flgMessage" id="message" class="alert alert-dismissible">
                    <button type="button" class="close" ng-click="hideMessage()" aria-hidden="true">&times;</button>
                    <h4><i id="icon" class="icon fa "></i> Alert!</h4>
                    {{message}}
                </div>

                <!-- general form elements -->
                <div class="box box-primary" ng-show="flgTable">
                    <div class="box-header with-border">
                        <h3 class="box-title">Forum List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-header">
                        <button type="button" ng-click="addForum()" class="btn btn-primary"><i class="fa fa-plus"></i> Add Forum</button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="">
                            <table id="forumTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td>Forum Name</td>
                                        <td>Title</td>
                                        <td>Description</td>
                                        <td>CreatedTime</td>
                                        <td>Status</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in lstForum">
                                        <td>{{item.ForumName}}</td>
                                        <td>{{item.Title}}</td>
                                        <td>{{item.Description}}</td>
                                        <td>{{item.CreatedTime|date:'MMM d, yyyy HH:mm:ss'}}</td>
                                        <td>{{item.Status}}</td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-circle" ng-click="editForum(item)" title="" data-toggle="tooltip" data-placement="top" data-original-title="Edit Forum">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-danger btn-circle" ng-click="deleteForum(item)" title="" data-toggle="tooltip" data-placement="top" data-original-title="Delete Forum">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <!-- /.box -->

                </div>

                <div class="box box-primary" ng-show="!flgTable">
                    <div class="box-header with-border">
                        <h3 class="box-title">Forum Add/Update</h3>
                    </div>

                    <form role="form" id="form1" name="form1" novalidate ng-submit="formSubmit()">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="Forum Name">Forum Name</label>
                                        <input type="text" ng-model="model.ForumName" required class="form-control" id="ForumName" placeholder="Forum Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="Forum Name">Forum Title</label>
                                        <input type="text" ng-model="model.Title" required class="form-control" id="ForumTitle" placeholder="Forum Title">
                                    </div>
                                    <div class="form-group">
                                        <label for="Forum Name">Forum Description</label>
                                        <input type="text" ng-model="model.Description" required class="form-control" id="ForumDescription" placeholder="Forum Description">
                                    </div>
                                    <div class="form-group">
                                        <label for="Forum Name">Forum Status</label>
                                        <input type="text" ng-model="model.Status" required class="form-control" id="ForumStatus" placeholder="Forum Status">
                                    </div>
                                    <div class="form-group">
                                        <label for="Forum Name">Is Default ?</label><br />
                                        <label class="switch">
                                            <input type="checkbox" ng-model="model.IsDefault" value="{{model.IsDefault}}" />
                                            <div class="slider round">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" ng-disabled="!form1.$valid" ng-click="createForum(model)" class="btn btn-primary">Submit</button>
                            <button type="button" ng-click="reset()" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                    <!-- /.box -->

                </div>
            </div>

        </div>

    </section>
    <!-- /.content -->
</div>

