@model SeizeTheDay.DataDomain.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-content no-padding">
    <div class="reg-form container">
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Forgot Password</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="col-md-7 reg-form-inner">
            <div class="heading">
                <h3>Reset Password</h3>
                <div class="clear"></div>
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <p>
                    <label>E-Mail</label>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your Email" })

                </p>

                <p class="submit">
                    <button type="submit" class="button-green button-small center-block"> <i class="fa fa-sign-in"></i> RESET PASSWORD </button>
                </p>
            }
        </div>
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Forgot Password</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

