
@{
    ViewBag.Title = "RegisterOk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-content no-padding">
    
    <div class="reg-form container">
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>RegisterOk</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="col-md-7 reg-form-inner">

            <span class="fa fa-pencil-square-o"></span>
            <label for="username" class="cols-sm-2 control-label">Processing...</label><br />
            <label for="username" class="cols-sm-2 control-label">You have registered!</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <p>
                        Please activate your email. If you don't activate your email adress, you will not be able to create a topic, chat and comment for a post!
                    </p>

                </div>
            </div>


        </div>
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>RegisterOk</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

