@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container main-content no-padding">

    <div class="reg-form container">
        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Reset Password Confirm</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="col-md-7 reg-form-inner">
            <div class="heading">
                <div class="clear"></div>
            </div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>


        <nav class="ipsBreadcrumb ipsBreadcrumb_1 ipsFaded_withHover">
            <ul data-role="breadcrumbList">
                <li>
                    <a title="Home" href="/Home/Index">
                        <span><i class="fa fa-home"></i> Home <i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Reset Password Confirm</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
